# Ignora l'ambiente virtuale
venv/

# Ignora i file compilati di Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignora i file di configurazione locali
.DS_Store

# Ignora gli altri file temporanei
*.db
*.sqlite
