@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heraklion:wght@400;700&family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aileron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

section {
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    scroll-behavior: smooth;
    width: 100%;
    max-width: 100vw;
    box-sizing: border-box;

}

/* Stili generali */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(155deg, #7f53afd1 0%, #25cafcd6 100%);
    background-size: cover;
    position: relative;
    justify-content: center;
    align-items: center;
}

.back-link {
    position: fixed;
    top: 2vh;
    left: 2vw;
    color: rgb(100, 4, 124);
    padding: 2px 8px;
    border-radius: 20px;
    font-size: 2.5vw;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5vw;
    height: 2.5vw;
    z-index: 10;
    transition: all 0.3s ease;
}

.back-link:hover {
    background-color: rgba(0, 0, 0, 0.463);
    transform: scale(1.1);
}

.room-details {
    min-height: 100vh;
    padding: 2vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Separazione delle camere */
.room {
    width: 90%;
    margin: 2vh auto;
    padding: 2vw;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Aggiungere uno spazio tra le camere */
#room-terra,
#room-aria {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
}

.gallery {
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.img-container {
    width: 45vw;
    height: 45vh;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.img-fluid {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.lightbox {
    display: block;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background: transparent;
    transition: all 1s;
}

.lightbox .lb-image {
    border-radius: 15px;
}

.lb-image {
    margin: 0 !important;
    border: none !important;
    box-shadow: none !important;
}

.room-comforts h3 {
    margin-top: 1vh;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 3vw;
}

.room-comforts ul {
    list-style-type: none;
    padding: 0;
}

.room-comforts li {
    font-size: 1.5vw;
    margin-bottom: 5px;
    font-weight: 300;
    text-align: center;
}

#sliderSyncingThumb1,
#sliderSyncingThumb2 {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

#sliderSyncingThumb1 .js-slide,
#sliderSyncingThumb2 .js-slide {
    margin-top: 2vw 0;
    display: flex;
    justify-content: center;
}

#sliderSyncingThumb1 .img-fluid,
#sliderSyncingThumb2 .img-fluid {
    width: 12vw;
    height: auto;
    max-width: 200px;
    max-height: 150px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

#sliderSyncingThumb1 .slick-slide,
#sliderSyncingThumb2 .slick-slide {
    justify-content: center;
    padding: 1vw;
    align-items: center;
    width: 150px;
    height: 100px;
}

#sliderSyncingThumb1 .slick-slide.slick-current img,
#sliderSyncingThumb2 .slick-slide.slick-current img {
    transform: scale(1.1);

    transition: transform 0.3 ease-in-out;
}

#sliderSyncingThumb1 .slick-slide img:hover,
#sliderSyncingThumb2 .slick-slide img:hover {
    transform: scale(1.1);


    transition: transform 0.3s ease-in-out;
}

#sliderSyncingThumb1 .slick-slide img,
#sliderSyncingThumb2 .slick-slide img {
    width: 80% !important;
    height: 80%;


}

#sliderSyncingNav1,
#sliderSyncingNav2 {
    width: 80%;
    margin: 0 auto;
}

/* Allineamento delle frecce e centratura della slide principale */
.slick-prev,
.slick-next {
    z-index: 1000;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.slick-prev {
    left: -5vw;
    /* Posizionata più vicino al bordo */
}

.slick-next {
    right: -5vw;
    /* Posizionata più vicino al bordo */
}

.slick-prev:before,
.slick-next:before {
    content: '';
    font-size: 3vw;
    font-weight: bold;
    color: rgb(41, 15, 159);
    transition: transform 0.3s ease-in-out, color 0.3s ease;
}

.slick-prev:hover:before,
.slick-next:hover:before {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out, background-color 0.3s ease, box-shadow 0.3s ease;
}

.slick-prev:before {
    content: '←';
}

.slick-next:before {
    content: '→';
}




@media screen and (max-width: 480px) {

    /* Evita l'avanzamento del contenuto nello scroll */
    html,
    body {
        overflow: hidden;
    }

    /* Solleva ulteriormente tutto il contenuto */
    body {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        /* Inizia dall'alto */
        align-items: center;
        overflow-y: scroll;
        height: 100vh;
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth;
        /* Snap scroll tra le sezioni */
    }


    .section {
        display: flex;
        flex-direction: column;
        justify-content: center;

        align-items: center;
        height: 100vh;
        /* Ogni sezione occupa l'intera viewport */
        scroll-snap-align: start;
        padding-top: 0;
        /* Sollevato il contenuto */
        padding-bottom: 1vh;
        box-sizing: border-box;
    }

    /* Immagini nel carosello */
    .slick-prev:before,
    .slick-next:before {
        display: none !important;
        /* Riduce la dimensione delle frecce */
    }

    .img-container {
        width: 75vw;
        height: auto;
    }


    /* Migliora il posizionamento del back-link */
    .back-link {
        font-size: 5vw;
        padding: 5px 8px;
        width: 7vw;
        height: 7vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        top: 1vh;
        left: 1vw;
        position: fixed;
        z-index: 1000;
    }


    /* Titolo delle comodità */
    .room-comforts h3 {
        font-size: 5.5vw;
        /* Ridurre la dimensione del titolo */
        text-align: center;
        margin-bottom: 0.7vh;
        font-weight: bold;
    }

    /* Lista delle comodità */
    .room-comforts ul {
        padding: 0;
        margin: 0;
        text-align: center;
        /* Centrare gli elementi della lista */
    }

    .room-comforts li {
        font-size: 4vw;
        /* Ridurre la dimensione dei testi della lista */
        margin-bottom: 0.5vh;
        /* Spazio tra gli elementi */
        font-weight: 300;
    }

    /* Galleria */
    .gallery {
        margin-top: -5vh;
        margin-bottom: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1vh;
    }

    /* Immagine nel carosello */
    .img-fluid {
        width: 90vw;
        /* Ridurre la larghezza dell'immagine nella galleria */
        height: 50vh;
        object-fit: cover;
        border-radius: 10px;
    }


    /* Stili slider */
    #sliderSyncingThumb1 .img-fluid,
    #sliderSyncingThumb2 .img-fluid {
        width: 60vw;
        /* Ridurre la larghezza delle immagini in slide */
        height: auto;

    }

    /* Immagine nelle slide */
    #sliderSyncingThumb1 .slick-slide img,
    #sliderSyncingThumb2 .slick-slide img {
        width: 9vw;
        height: 7vh;
        object-fit: cover;
    }

    #sliderSyncingThumb1 .slick-slide,
    #sliderSyncingThumb2 .slick-slide {
        margin-top: 0;
        margin-bottom: 0;
    }

}