@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heraklion:wght@400;700&family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aileron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

section {
    height: 100vh;
    /* Ogni sezione occupa l'intera finestra */
    scroll-snap-align: start;
    /* Allineamento a inizio sezione */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    scroll-behavior: smooth;
    /* Scrolling fluido */
}

/* Stili generali */
body {
    font-family: Arial, sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(155deg, #7f53afd1 0%, #25cafcd6 100%);
    background-size: cover;
    position: relative;
    justify-content: center;
    align-items: center;
}

.back-link {
    position: absolute;
    top: 30px;
    left: 40px;
    color: rgb(100, 4, 124);
    padding: 2px 8px;
    border-radius: 20px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    z-index: 2;
    transition: all 0.3s ease;
}

.back-link:hover {
    background-color: rgba(0, 0, 0, 0.463);
    transform: scale(1.1);
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(101, 99, 99, 0.3);
    pointer-events: none;
    z-index: -1;
}

h1 {
    margin: 0 16px;
    text-align: center;
    font-family: 'Great Vibes', cursive;
    font-size: 4.5rem;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

p {
    margin-top: 50px;
    color: #ffffff;
    text-align: center;
    font-size: 1.2rem;
}

.room-details {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Centra il contenuto verticalmente */
    padding: 20px;
    /* Aggiungi padding, se necessario */
    box-sizing: border-box;
}

/* Separazione delle camere */
.room {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Aggiungere uno spazio tra le camere */
#room-terra,
#room-aria {
    width: 100%;
    max-width: 1200px;
    /* Limita la larghezza massima per mantenere un layout più ordinato */
    margin: 20px auto;
}

.gallery {
    margin-top: 50px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    position: relative;
}

.img-container {
    width: 800px;
    height: 550px;
    margin: 0 auto;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.lightbox {
    display: block;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background: transparent;
    transition: all 1s;
}

.lightbox .lb-image {
    border-radius: 15px;
}

.lb-image {
    margin: 0 !important;
    border: none !important;
    box-shadow: none !important;
}

.img-fluid {
    width: 100%;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
    justify-content: center;
}

#sliderSyncingThumb1 {
    display: flex;
    justify-content: center;
    gap: 2px;
    flex-wrap: wrap;
}

#sliderSyncingThumb1 .js-slide {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

#sliderSyncingThumb1 .img-fluid {
    width: 200px;
    height: 110px;
    object-fit: cover;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#sliderSyncingThumb1 .slick-slide {
    display: flex;
    justify-content: center;
    padding: 0;
    width: auto;
    /* Rimuovi il width fisso */
}

#sliderSyncingThumb1 .slick-slide.slick-current img {
    transform: scale(1.2);
    transition: transform 0.3 ease-in-out;
}

#sliderSyncingThumb1 .slick-slide img:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

#sliderSyncingThumb1 .slick-slide img {
    width: 80% !important;
}

#sliderSyncingNav1 {
    width: 80%;
    margin: 0 auto;
}

/* Second Slider */
#sliderSyncingThumb2 {
    display: flex;
    justify-content: center;
    gap: 2px;
    flex-wrap: wrap;
}

#sliderSyncingThumb2 .js-slide {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

#sliderSyncingThumb2 .img-fluid {
    width: 200px;
    height: 110px;
    object-fit: cover;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#sliderSyncingThumb2 .slick-slide {
    display: flex;
    justify-content: center;
    padding: 0;
    width: auto;
}

#sliderSyncingThumb2 .slick-slide.slick-current img {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

#sliderSyncingThumb2 .slick-slide img:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

#sliderSyncingThumb2 .slick-slide img {
    width: 80% !important;
}

#sliderSyncingNav2 {
    width: 80%;
    margin: 0 auto;
}

.slick-prev:before,
.slick-next:before {
    content: '';
    font-size: 45px;
    font-weight: bold;
    color: rgb(41, 15, 159);
    display: inline-block;
    transition: transform 0.3s ease-in-out, color 0.3s ease;
}

.slick-prev:hover:before,
.slick-next:hover:before {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out, background-color 0.3s ease, box-shadow 0.3s ease;
}

.slick-prev:before {
    content: '←';
}

.slick-next:before {
    content: '→';
}


.room-comforts h3 {
    margin-top: 5px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 3rem;
    color: #ffffff;
    margin-bottom: 10px;
}

.room-comforts ul {
    list-style-type: none;
    padding: 0;
}

.room-comforts li {
    font-size: 1.8rem;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
    font-weight: 300;
    text-align: center;
}