@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heraklion:wght@400;700&family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aileron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


/* Stili generali */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    background: linear-gradient(155deg, #7f53afd1 0%, #25cafcd6 100%); /* Gradient blu-viola */
    background-size: cover;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.back-link {
    position: absolute;
    top: 30px;
    left: 40px;
    color: rgb(100, 4, 124);
    padding: 2px 8px; 
    border-radius: 20px; /* Rende il link rotondo */
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px; /* Larghezza del cerchio */
    height: 30px; /* Altezza del cerchio */
    z-index: 2; /* Assicura che il link sia sopra l'overlay */
    transition: all 0.3s ease; /* Aggiungi una transizione per un effetto più fluido *//* Assicura che il link sia sopra l'overlay */
}

.back-link:hover {
    background-color: rgba(0, 0, 0, 0.463);
    transform: scale(1.1); 
}

/* Aggiungi un overlay trasparente sopra l'immagine di sfondo */
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(101, 99, 99, 0.3); /* Sovrapposizione semi-trasparente */
    pointer-events: none; /* Assicura che l'overlay non interferisca con altri elementi */
    z-index: -1;  
}

h1 {
    margin:0 16px;
    text-align: center;
    font-family: 'Great Vibes', cursive;
    font-size: 4.5rem; /* Puoi aumentare la dimensione del font se necessario */
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Aggiunge un'ombra al testo per migliorarne la visibilità */
    z-index: 1; /* Assicura che il testo sia sopra l'overlay */
}

p {
    margin-top: 50px;
    color: #ffffff;
    text-align: center;
    font-size: 1.2rem; /* Puoi aumentare la dimensione del font se necessario */
}

/* Stili per la sezione dei dettagli della camera */
.room-details {
    min-height: 100vh;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 20px;
}

.gallery {
    margin-bottom: 20px;
    text-align: center;
    position: relative;
}

/* Contenitore con dimensioni fisse per le immagini */
.img-container {
    width: 800px; /* Larghezza fissa */
    height: 550px; /* Altezza fissa */
    margin: 0 auto;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Nasconde la parte eccedente dell'immagine */
}

.img-fluid {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    border-radius: 20px; /* Bordo arrotondato */
    justify-content: center;
}

/* Stili per le miniature */
#sliderSyncingThumb {
    display: flex;
    justify-content: center;
    gap: 2px;
}

#sliderSyncingThumb .js-slide {
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
}

#sliderSyncingThumb .img-fluid {
    width: 200px;
    height: 110px;
    object-fit: cover;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Aggiungi un'ombra per migliorare la visibilità dei bordi arrotondati */
}

#sliderSyncingThumb .slick-slide {
    padding: 0;
    width: 150px;
    justify-content: center;
}

/* Ingrandisce la miniatura attiva */
#sliderSyncingThumb .slick-slide.slick-current img {
    transform: scale(1.2); /* Puoi aumentare il valore per ingrandirla ulteriormente */
    transition: transform 0.3 ease-in-out; /* Aggiunge un effetto di transizione */
}

/* Miniature ingrandite al passaggio del mouse */
#sliderSyncingThumb .slick-slide img:hover {
    transform: scale(1.2); /* Aumenta la dimensione al passaggio del mouse */
    transition: transform 0.3s ease-in-out;
}

#sliderSyncingThumb .slick-slide img {
    width: 80% !important;
}

/* Impostazioni per il carosello */
#sliderSyncingNav {
    width: 80%; /* Puoi regolare questa larghezza per controllare la larghezza complessiva */
    margin: 0 auto; /* Centra il carosello */
}

/* Rimuove il testo predefinito e mantiene le frecce */
.slick-prev:before, .slick-next:before {
    content: ''; /* Rimuove il testo di default */
    font-size: 45px; /* Colore e dimensione della freccia */
    font-weight: bold;
    color: rgb(41, 15, 159); /* Colore della freccia */
    display: inline-block; /* Garantisce il posizionamento */
    transition: transform 0.3s ease-in-out, color 0.3s ease;
}

/* Effetto hover per i pulsanti di navigazione */
.slick-prev:hover:before, .slick-next:hover:before {
    transform: scale(1.1); /* Ingrandisce il pulsante durante l'hover */
    transition: all 0.3s ease-in-out, background-color 0.3s ease, box-shadow 0.3s ease; /* Transizioni fluide */
}

/* Freccia sinistra */
.slick-prev:before {
    content: '←'; /* Freccia sinistra */
}

/* Freccia destra */
.slick-next:before {
    content: '→'; /* Freccia destra */
}

/* Posizione delle frecce nei siti con RTL */
[dir='rtl'] .slick-prev {
    right: -25px;
    left: auto;
}

[dir='rtl'] .slick-next {
    right: auto;
    left: -25px;
}

.description-text {
    margin-top: 10px;
    color: #ffffff;
    font-size: 1.7rem; /* Puoi aumentare la dimensione del font se necessario */
}

.room-comforts h3 {
    margin-top: 70px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 3rem;
    color: #ffffff;
    margin-bottom: 40px;
}

.room-comforts ul {
    list-style-type: none;
    padding: 0;
}

.room-comforts li {
    font-size: 1.8rem;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
    font-weight: 300;
    text-align: center;

}

/* Stili per il prezzo della camera */
.room-price {
    margin: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.room-price h2 {
    margin-top:40px;
    font-family: monospace;
    font-size: 3rem;
    color: #b4ebdd;
}

.book-button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.book-button:hover {
    background-color: #c0392b;
}
