/* Importa i font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heraklion:wght@400;700&family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aileron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


/* Impostazione viewport per dispositivi mobili */
@viewport {
    width: device-width;
    initial-scale: 1.0;
}

/* Imposta una transizione per ogni sezione */
section {
    height: 100vh;
    /* Ogni sezione occupa l'intera altezza della finestra */
    overflow: hidden;
    /* Evita che la pagina scorra all'interno della sezione */
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    scroll-snap-type: y mandatory;
    scroll-padding-top: 0;
}

/* Stile generale */
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.4;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    scroll-padding-top: 0;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.cover,
.rooms {
    height: 100vh;
    scroll-snap-align: start;
    padding: 2vw;
}

/* HEADER */
header {
    position: static;
    width: 100%;
    top: 2vw;
    left: 50%;
    z-index: 10;
    padding: 2vw 0;
    background-color: transparent;
    text-align: center;
    margin-bottom: 0;
}

header h1 {
    margin-top: -2vh;
    font-size: 6vw;
    /* Titolo grande */
    margin: 0;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    /* Font geometrico per il titolo */
    letter-spacing: 0.2vw;
    color: #000;
}

/* Applicare lo stile solo al "Soggiorno Relax" */
header h2.soggiorno-relax {
    font-size: 4vw;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 2vw;
}

/* COVER SECTION */
.cover {
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 1;
}

.cover::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3vh;
    /* Altezza della sfumatura */
    background: linear-gradient(to bottom, rgba(173, 216, 230, 0) 0%, rgba(173, 216, 230, 1) 100%);
    z-index: 2;
}

.overlay {
    position: relative;
    z-index: 3;
}

.cover h2 {
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
    line-height: 1.4;
    color: #363a4d; /* colore armonizzato con la palette */
    margin-bottom: 1.5rem;
}

/* Sezione Contatti nella Cover */
.contact {
    position: absolute;
    top: 75%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: left;
    padding: 0;
}

.contact-info p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #333;
    margin-bottom: 0.8rem;
}


/* Info Contatti (WhatsApp, Email) */
.contact-info {
    position: relative;
    top: -3vh;

}

.contact-info a {
    display: inline-block;
    padding: 0.5rem 1.2rem; /* meno spessi */
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
    background: rgba(16, 140, 154, 0.7); /* colore semi-trasparente */
    border-radius: 6px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

.contact-info a:hover {
    background: rgba(126, 0, 124, 0.8); /* semi-trasparente più intenso al passaggio */
    transform: translateY(-2px);
    box-shadow: 0 5px 12px rgba(0,0,0,0.3);
}

/* MAPPA */
.map {
    position: absolute;
    top: 50%;
    /* Posizionamento a partire dal 75% dell'altezza della pagina, come la sezione contatti */
    right: -16%;
    width: 15vw;
    height: 17vh;
    overflow: hidden;
    transition: all 0.5s ease;

}

.map iframe {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 10px;
    margin: 0 auto;
}


/* Stili per il link di ancoraggio */
.scroll-to-rooms {
    position: absolute;
    bottom: 8vw;
    /* Distanza dal fondo della sezione */
    transform: translateX(-50%);
    /* Centra perfettamente il link */
    background-color: #108c9a9a;
    /* Colore principale del bottone */
    color: #ffffffcd;
    /* Colore del testo */
    font-family: 'Montserrat', sans-serif;
    /* Font elegante */
    font-size: 2vw;
    /* Dimensione del testo */
    padding: 0.5vh 2vw;
    /* Spazio interno per rendere il bottone largo */
    text-decoration: none;
    /* Rimuove la sottolineatura */
    border-radius: 2vw;
    /* Bordi arrotondati per un effetto più morbido */
    display: inline-block;
    /* Mantiene il bottone inline */
    text-align: center;
    /* Allinea il testo al centro */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Aggiunge un'ombra morbida */
    transition: all 0.3s ease;
    animation: moveDown 1.5s ease-in-out infinite;
}

.scroll-to-rooms:hover {
    background-color: #9f4023a9;
    /* Cambia il colore di sfondo al passaggio del mouse */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}


/* Animazione di movimento verso il basso sia per il bottone che per la freccia */
@keyframes moveDown {
    0% {
        transform: translateY(-10px);
        /* Inizia leggermente in alto */
    }

    50% {
        transform: translateY(10px);
        /* Si sposta verso il basso */
    }

    100% {
        transform: translateY(-10px);
        /* Torna sopra per continuare l'animazione */
    }
}

/* Aggiungere il corretto comportamento per il link di ancoraggio */
.scroll-to-rooms:active {
    transform: translateY(5px);
    /* Piccola animazione al clic */
}

/* SEZIONE CAMERE */
.rooms {
    height: 100vh;
    /* Altezza totale della viewport */
    display: flex;
    /* Abilita Flexbox */
    justify-content: center;
    /* Centra verticalmente i contenuti */
    align-items: center;
    /* Centra orizzontalmente i contenuti */

    background-size: cover;
    /* Assicurati che lo sfondo copra l'intera area */
    background-position: center;
    font-family: 'Roboto', sans-serif;
    /* Font principale */
    text-align: center;
    padding: 30px;
    /* Spaziatura interna */
    position: relative;
    z-index: 0;
    scroll-snap-align: start;
}

.rooms-container {
    display: flex;
    flex-direction: row;
    /* Dispone gli elementi orizzontalmente */
    justify-content: space-between;
    gap: 4vw;
    width: 70vw;
    transform: translateY(100px);
    padding: 5vh;
    /* Aumenta il padding per distanziare le foto dai titoli */
}

.room img {
    max-width: 100%;
    height: auto;
}

.room {

    transition: transform 0.3s ease-in-out;
    /* Effetto al passaggio del mouse */
    position: relative;
    /* Permette il posizionamento assoluto di room-info dentro ciascuna room */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.room:hover {
    transform: translateY(-0.7vh);
    /* Effetto hover che solleva il box */
}

/* Contenitore immagine */
.image-container {
    width: 100%;
    /* Occupa il 90% della larghezza del box */
    height: 80%;
    /* Altezza dinamica per mantenere coerenza */
    gap: 9vw;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* Nasconde eventuali parti eccedenti */
    margin-bottom: 0.7vh;
    position: relative;
    /* Per posizionamento interno */
    border-radius: 2vw;
}

.image-container img {
    width: 40vw;
    /* L'immagine occupa tutta la larghezza del contenitore */
    height: 40vh;
    /* Mantiene le proporzioni dell'immagine */
    object-fit: cover;

    /* Impedisce che l'immagine ecceda l'altezza */
    position: relative;
    /* Mantiene l'immagine all'interno del contenitore */
    border-radius: 2vw;
}

/* Testo sotto l'immagine */
.room-info {
    margin-top: 2vh;
    /* Aumenta il margine superiore per distanziare le foto dai titoli */
    text-align: center;
    width: 80%;
    /* Aggiusta la larghezza per evitare che il testo tocchi i bordi */
}

/* Titolo della camera */
.room h3 {
    margin-top: 2.4vh;
    font-size: 4vw;
    /* Più grande per un effetto più prominente */
    color: #ffffff;
    /* Colore scuro per il testo */
    letter-spacing: 0.1vw;
    font-family: 'Great Vibes', serif;
    /* Font più moderno */
    margin-bottom: 0;
}

/* Descrizione della camera */
.room p {
    font-size: 2vh;
    /* Dimensione leggera e leggibile */
    color: #ffffff;
    /* Colore grigio per il testo secondario */
    font-family: 'Arial', sans-serif;
    /* Font più elegante */
    margin-top: 0;
}

.show-on-scroll {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s ease, transform 1s ease;
}

#fixed-footer {
    width: 100vw;
    /* Larghezza completa del footer */
    background-color: #333;
    /* Colore di sfondo */
    color: white;
    /* Colore del testo */
    text-align: center;
    /* Centra il contenuto */
    padding: 0.5vh 0;
    /* Spaziatura interna */
    position: absolute;
    /* Posizionato all'interno della sezione */
    bottom: 0;
    /* Fissato in basso */
}

.cover,
.rooms {
    background-size: cover;
    /* Mantiene l'immagine adattata al contenitore */
    background-position: center center;
    /* Centra l'immagine in modo uniforme */
    background-repeat: no-repeat;
    /* Impedisce la ripetizione dell'immagine */
}

/* Dispositivi molto piccoli (mobile portrait) */
@media only screen and (max-width: 480px) {

    .rooms::before {
        height: 1%;
        /* Ulteriore riduzione dell'altezza della sfumatura */
        background: linear-gradient(to top, rgba(173, 216, 230, 0) 20%, rgba(173, 216, 230, 0.2) 100%);
        /* Sfumatura ancora più leggera */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
    }

    /* Solleva ulteriormente tutto il contenuto */
    body {
        margin: 0;
        padding: 0;
        flex-direction: column;
        justify-content: flex-start;
        /* Inizia dall'alto */
        align-items: center;
        overflow-x: hidden;
        /* Impedisce lo scorrimento orizzontale */
        overflow-y: scroll;
        height: 100vh;
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth;
        background-color: #000;
        /* Snap scroll tra le sezioni */
    }

    header h1 {
        font-size: 10vw;
        /* Riduce ancora di più la dimensione del titolo */
    }

    header h2.soggiorno-relax {
        font-size: 6vw;
        margin-bottom: 8vh;
        /* Riduce la dimensione del sottotitolo */
    }

    /* COVER */
    .cover {
        height: 90vh;
        /* Riduce l'altezza della cover */
        padding: 5vw;
        /* Riduce il padding */
        padding-top: env(safe-area-inset-top);
        box-sizing: border-box;
        background-size: cover;
        background-position: center;
        position: relative;
    }

    .cover h2 {
        font-size: 1.8rem;       /* già presente */
        margin-top: 1rem;        /* aumenta il distacco dal titolo */
        margin-bottom: 1.5rem;   /* lascia un po’ di spazio sotto la descrizione */
    
    }

    .contact {
        position: absolute;
        top: 71%;
        /* Adatta meglio la posizione */
        left: 53%;
        transform: translate(-50%, -50%);
        width: 95%;
        /* Ingrandisce il contatto */
    }

    .contact-info p {
        font-size: 5vw;
        margin-bottom: 6vw;

    }

    .contact-info a {
        font-size: 4vw;          /* dimensione testo proporzionata */
        padding: 1vw 3vw;        /* bottone più sottile e stretto */
        display: inline-block;    /* non full-width */
        margin-bottom: 2vw;      /* distanza tra i bottoni */
        text-align: center;
    }

    .map {
        position: absolute;
        top: 87%;         /* più in basso ma visibile */
        right: 3%;        /* margine destro consistente */
        width: 30vw;      /* dimensione maggiore rispetto a prima */
        height: 15vh;     /* altezza aumentata */
        overflow: hidden;
    }

    .map iframe {
        width: 100%;
        height: 100%;
    }



    .scroll-to-rooms {
        position: absolute;
        bottom: 10vw;
        /* Adatta la posizione del bottone */
        font-size: 4vw;
        /* Riduce la dimensione del bottone */
        padding: 2vw 3vw;
        z-index: 2;
        pointer-events: auto;
        /* Rende il bottone più grande */
    }

    .scroll-to-rooms .arrow {
        color: #108c9a9a;
        display: block;
        font-size: 9vw;
        /* Dimensione della freccia */
        position: absolute;
        top: -6vh;
        /* La freccia esce sopra il bottone */
    }

    .rooms-container {
        flex-direction: column;

        margin-top: -20vh;
        /* Maggiore separazione verticale */
        width: 70vw;
        /* Più spazio utilizzato */
        padding: 2vh 0vw;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        /* Altezza aumentata per ospitare meglio le camere */
        box-sizing: border-box;
        gap: 7vh;
    }

    .room h3 {
        white-space: nowrap;
        /* Impedisce di andare a capo */
        overflow: visible;
        /* Evita il traboccamento del testo */
        text-overflow: clip;
        /* Mostra i puntini se il testo è troppo lungo */
        font-size: 8vw;
        /* Ridotto per adattarsi meglio su mobile */
        text-align: center;
        /* Centra il titolo */
        margin-top: 0;
        /* Ridotto per schermi più piccoli */
    }

    .room p {
        font-size: 1.3vh;
    }

    .image-container {
        width: 100%;
        /* Adatta la larghezza al contenitore */
        height: 25vh;
        max-height: 30vh;
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        /* Centra il contenuto orizzontalmente e verticalmente */
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        /* Riduzione altezza immagine per dispositivi piccoli */
    }

    #fixed-footer {
        position: absolute;
        padding: 0.5vh;
        height: 5vh;
    }

    .image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    .room-info {
        margin-top: 2vh;
        /* Ridotto il margine per un allineamento più stretto */
        width: 100%;
        /* Uniforma la larghezza del testo con l'immagine */
        padding: 0;
        text-align: center;
        box-sizing: border-box;
    }

    .room h3,
    .room p {
        margin: 0;
        padding: 0.5vh 0;
    }

    .cover {
        background-position: center right 40%;
        /* Sposta l'immagine un po' a sinistra */
    }

    .rooms {
        background-position: center left 60%;
        background-size: cover;
        /* Stessa modifica per la sezione rooms */
    }


}