<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <title>Info Camere</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  
  <!-- Slick Carousel CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/> 
  <link rel="stylesheet" href="{{ url_for('static', filename='css/camere.css') }}">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Lightbox CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css">
  
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
  <!-- Slick Carousel JS -->
  <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  
  <!-- Lightbox JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
  
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-LT0K5MHG56"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-LT0K5MHG56');
  </script>
  
</head>
<body>

  <a href="#" class="back-link" onclick="window.location.href = '{{ url_for('index') }}#rooms'; return false;">←</a>

  
  <!-- Sezione Camera Terra -->
  <section id="room-terra" class="room-details">

    <!-- Carosello principale -->
    <div class="gallery">
      <div 
        id="sliderSyncingNav1" class="js-slick-carousel u-slick mb-2"
        data-infinite="true"
        data-arrows-classes="d-none d-lg-inline-block u-slick__arrow-classic u-slick__arrow-centered--y rounded-circle"
        data-arrow-left-classes="fas fa-arrow-left u-slick__arrow-classic-inner u-slick__arrow-classic-inner--left ml-lg-2 ml-xl-4"
        data-arrow-right-classes="fas fa-arrow-right u-slick__arrow-classic-inner u-slick__arrow-classic-inner--right mr-lg-2 mr-xl-4"
        data-nav-for="#sliderSyncingThumb1">
        
        <div class="js-slide">
          <div class="img-container">
            <a href="{{ url_for('static', filename='images/appartam1/5EF95467-D836-4317-94B7-0C44D43FAF48_1_105_c.jpeg') }}" data-lightbox="gallery">
              <img class="img-fluid" src="{{ url_for('static', filename='images/appartam1/5EF95467-D836-4317-94B7-0C44D43FAF48_1_105_c.jpeg') }}" alt="Immagine principale 1">
            </a>
          </div>
        </div>
        <div class="js-slide">
          <div class="img-container">
            <a href="{{ url_for('static', filename='images/appartam1/3DED0D41-F67B-4E9C-A896-FE994A767CCA_1_105_c.jpeg') }}g" data-lightbox="gallery">
              <img class="img-fluid" src="{{ url_for('static', filename='images/appartam1/3DED0D41-F67B-4E9C-A896-FE994A767CCA_1_105_c.jpeg') }}" alt="Immagine principale 2">
            </a>
          </div>
        </div>
        <div class="js-slide">
          <div class="img-container">
            <a href="{{ url_for('static', filename='images/appartam1/47646B37-8D8A-4C1B-9319-1065792E854E_1_105_c.jpeg') }}" data-lightbox="gallery">
              <img class="img-fluid" src="{{ url_for('static', filename='images/appartam1/47646B37-8D8A-4C1B-9319-1065792E854E_1_105_c.jpeg') }}" alt="Immagine principale 3">
            </a>
          </div>
        </div>
        <div class="js-slide">
          <div class="img-container">
            <a href="{{ url_for('static', filename='images/appartam1/DB59E97E-04B5-4016-A7C0-EE60FFA985EB_1_105_c.jpeg') }}" data-lightbox="gallery">
              <img class="img-fluid" src="{{ url_for('static', filename='images/appartam1/DB59E97E-04B5-4016-A7C0-EE60FFA985EB_1_105_c.jpeg') }}" alt="Immagine principale 4">
            </a>
          </div>
        </div>
        <div class="js-slide">
          <div class="img-container">
            <a href="{{ url_for('static', filename='images/appartam1/B60E2CA7-E1F9-40CD-80A1-0616CFBADA3E_1_105_c.jpeg') }}" data-lightbox="gallery">
              <img class="img-fluid" src="{{ url_for('static', filename='images/appartam1/B60E2CA7-E1F9-40CD-80A1-0616CFBADA3E_1_105_c.jpeg') }}" alt="Immagine principale 5">
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Carosello per le anteprime -->
    <div id="sliderSyncingThumb1" class="js-slick-carousel u-slick u-slick--gutters-1 u-slick--transform-off"
      data-infinite="true"
      data-slides-show="5"
      data-is-thumbs="true"
      data-nav-for="#sliderSyncingNav1"
      data-responsive='[{
        "breakpoint": 992,
        "settings": {
          "slidesToShow": 2
        }
      }, {
        "breakpoint": 768,
        "settings": {
          "slidesToShow": 1
        }
      }]'>
      
      <div class="js-slide" style="cursor: pointer;">
        <img class="img-fluid" src="{{ url_for('static', filename='images/appartam1/5EF95467-D836-4317-94B7-0C44D43FAF48_1_105_c.jpeg') }}" alt="Anteprima 1">
      </div>
      <div class="js-slide" style="cursor: pointer;">
          <img class="img-fluid" src="{{ url_for('static', filename='images/appartam1/3DED0D41-F67B-4E9C-A896-FE994A767CCA_1_105_c.jpeg') }}" alt="Anteprima 2">
        </div>
        <div class="js-slide" style="cursor: pointer;">
          <img class="img-fluid" src="{{ url_for('static', filename='images/appartam1/47646B37-8D8A-4C1B-9319-1065792E854E_1_105_c.jpeg') }}" alt="Anteprima 3">
        </div>
        <div class="js-slide" style="cursor: pointer;">
          <img class="img-fluid" src="{{ url_for('static', filename='images/appartam1/DB59E97E-04B5-4016-A7C0-EE60FFA985EB_1_105_c.jpeg') }}" alt="Anteprima 4">
        </div>
        <div class="js-slide" style="cursor: pointer;">
          <img class="img-fluid" src="{{ url_for('static', filename='images/appartam1/B60E2CA7-E1F9-40CD-80A1-0616CFBADA3E_1_105_c.jpeg') }}" alt="Anteprima 5">
        </div>
    </div>
  
    <!-- Descrizione Camera Terra -->
    <div class="room-description">
        <div class="room-comforts">
            <h3>Comfort</h3>
            <ul>
                <li>Aria condizionata</li>
                <li>Parcheggio privato</li>
            </ul>
        </div>
    </div>
    
  </section>

  <!-- Sezione Camera Aria -->
  <section id="room-aria" class="room-details">

    <!-- Carosello principale -->
    <div class="gallery">
      <div 
        id="sliderSyncingNav2" class="js-slick-carousel u-slick mb-2"
        data-infinite="true"
        data-arrows-classes="d-none d-lg-inline-block u-slick__arrow-classic u-slick__arrow-centered--y rounded-circle"
        data-arrow-left-classes="fas fa-arrow-left u-slick__arrow-classic-inner u-slick__arrow-classic-inner--left ml-lg-2 ml-xl-4"
        data-arrow-right-classes="fas fa-arrow-right u-slick__arrow-classic-inner u-slick__arrow-classic-inner--right mr-lg-2 mr-xl-4"
        data-nav-for="#sliderSyncingThumb2">

        <!-- Image slides for Camera Aria -->
         <div class="js-slide">
          <div class="img-container">
            <a href="{{ url_for('static', filename='images/appartm2/1CC63421-0B26-4B0E-A160-19584ADF7DC1_1_105_c.jpeg') }}" data-lightbox="gallery">
              <img class="img-fluid" src="{{ url_for('static', filename='images/appartm2/1CC63421-0B26-4B0E-A160-19584ADF7DC1_1_105_c.jpeg') }}" alt="Immagine principale 1">
            </a>
          </div>
        </div>
        
        <div class="js-slide">
          <div class="img-container">
            <a href="{{ url_for('static', filename='images/appartm2/1D745ECE-293E-46D7-A156-599B7BA73B0D_1_105_c.jpeg') }}" data-lightbox="gallery">
               <img class="img-fluid" src="{{ url_for('static', filename='images/appartm2/1D745ECE-293E-46D7-A156-599B7BA73B0D_1_105_c.jpeg') }}" alt="Immagine principale 2">
            </a>
          </div>
        </div>

        <div class="js-slide">
          <div class="img-container">
             <a href="{{ url_for('static', filename='images/appartm2/4ECECBE1-7EA8-42B3-94BA-DA6CAD0716AA_1_105_c.jpeg') }}" data-lightbox="gallery">
              <img class="img-fluid" src="{{ url_for('static', filename='images/appartm2/4ECECBE1-7EA8-42B3-94BA-DA6CAD0716AA_1_105_c.jpeg') }}" alt="Immagine principale 3">
            </a>
          </div>
        </div>

        <div class="js-slide">
          <div class="img-container">
             <a href="{{ url_for('static', filename='images/appartm2/4C9C4F43-028E-43A9-888A-77F892553C2B_1_105_c.jpeg') }}" data-lightbox="gallery">
              <img class="img-fluid" src="{{ url_for('static', filename='images/appartm2/4C9C4F43-028E-43A9-888A-77F892553C2B_1_105_c.jpeg') }}" alt="Immagine principale 4">
            </a>
          </div>
        </div>

        <div class="js-slide">
          <div class="img-container">
             <a href="{{ url_for('static', filename='images/appartm2/240567C8-530F-42B4-AC68-8E47E9EFD913_1_105_c.jpeg') }}" data-lightbox="gallery">
              <img class="img-fluid" src="{{ url_for('static', filename='images/appartm2/240567C8-530F-42B4-AC68-8E47E9EFD913_1_105_c.jpeg') }}" alt="Immagine principale 5">
            </a>
          </div>
        </div>
      
        <div class="js-slide">
          <div class="img-container">
             <a href="{{ url_for('static', filename='images/appartm2/658E9D96-ECAE-440B-A412-9CABA362F643_1_105_c.jpeg') }}" data-lightbox="gallery">
              <img class="img-fluid" src="{{ url_for('static', filename='images/appartm2/658E9D96-ECAE-440B-A412-9CABA362F643_1_105_c.jpeg') }}" alt="Immagine principale 6">
            </a>
          </div>
        </div>
         <div class="js-slide">
          <div class="img-container">
             <a href="{{ url_for('static', filename='images/appartm2/142C64B5-C8DB-419C-8772-60D167BD0621_1_105_c.jpeg') }}" data-lightbox="gallery">
              <img class="img-fluid" src="{{ url_for('static', filename='images/appartm2/142C64B5-C8DB-419C-8772-60D167BD0621_1_105_c.jpeg') }}" alt="Immagine principale 7">
            </a>
          </div>
        </div>

         <div class="js-slide">
          <div class="img-container">
             <a href="{{ url_for('static', filename='images/appartm2/49C41590-4EEA-4BE7-8DD1-8B16F86B7827_1_105_c.jpeg') }}" data-lightbox="gallery">
              <img class="img-fluid" src="{{ url_for('static', filename='images/appartm2/49C41590-4EEA-4BE7-8DD1-8B16F86B7827_1_105_c.jpeg') }}" alt="Immagine principale 6">
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Carosello per le anteprime -->
    <div id="sliderSyncingThumb2" class="js-slick-carousel u-slick u-slick--gutters-1 u-slick--transform-off"
      data-infinite="true"
      data-slides-show="8"
      data-is-thumbs="true"
      data-nav-for="#sliderSyncingNav2"
      data-responsive='[{
        "breakpoint": 992,
        "settings": {
          "slidesToShow": 2
        }
      }, {
        "breakpoint": 768,
        "settings": {
          "slidesToShow": 1
        }
      }]'>
      
        <div class="js-slide" style="cursor: pointer;">
            <img class="img-fluid" src="{{ url_for('static', filename='images/appartm2/1CC63421-0B26-4B0E-A160-19584ADF7DC1_1_105_c.jpeg') }}" alt="Anteprima 1">
        </div>
        <div class="js-slide" style="cursor: pointer;">
            <img class="img-fluid" src="{{ url_for('static', filename='images/appartm2/1D745ECE-293E-46D7-A156-599B7BA73B0D_1_105_c.jpeg') }}" alt="Anteprima 2">
        </div>
        <div class="js-slide" style="cursor: pointer;">
            <img class="img-fluid" src="{{ url_for('static', filename='images/appartm2/4ECECBE1-7EA8-42B3-94BA-DA6CAD0716AA_1_105_c.jpeg') }}" alt="Anteprima 3">
        </div>
        <div class="js-slide" style="cursor: pointer;">
            <img class="img-fluid" src="{{ url_for('static', filename='images/appartm2/4C9C4F43-028E-43A9-888A-77F892553C2B_1_105_c.jpeg') }}" alt="Anteprima 4">
        </div>
        <div class="js-slide" style="cursor: pointer;">
            <img class="img-fluid" src="{{ url_for('static', filename='images/appartm2/240567C8-530F-42B4-AC68-8E47E9EFD913_1_105_c.jpeg') }}" alt="Anteprima 5">
        </div>
        <div class="js-slide" style="cursor: pointer;">
            <img class="img-fluid" src="{{ url_for('static', filename='images/appartm2/658E9D96-ECAE-440B-A412-9CABA362F643_1_105_c.jpeg') }}" alt="Anteprima 6">
        </div>
        <div class="js-slide" style="cursor: pointer;">
            <img class="img-fluid" src="{{ url_for('static', filename='images/appartm2/142C64B5-C8DB-419C-8772-60D167BD0621_1_105_c.jpeg') }}" alt="Anteprima 7">
        </div>
        <div class="js-slide" style="cursor: pointer;">
            <img class="img-fluid" src="{{ url_for('static', filename='images/appartm2/49C41590-4EEA-4BE7-8DD1-8B16F86B7827_1_105_c.jpeg') }}" alt="Anteprima 8">
        </div>
    </div>

    <!-- Descrizione Camera Aria -->
        <div class="room-comforts">
            <h3>Comfort</h3>
            <ul>
              <li>Aria condizionata</li>
              <li>Parcheggio privato</li>
            </ul>
        </div>


  </section>

  <script>
    $(document).ready(function(){
      $('#sliderSyncingNav1').slick({
        infinite: true,
        arrows: true,
        fade: true,
        asNavFor: '#sliderSyncingThumb1',
      });
      $('#sliderSyncingThumb1').slick({
        infinite: false,
        slidesToShow: 5,
        slidesToScroll: 5,
        asNavFor: '#sliderSyncingNav1',
        focusOnSelect: true,
        arrows: false,
        centerMode: false,
        draggable: true,
        swipe: true,
        responsive: [
          {
            breakpoint: 992,
            settings: {
              slidesToShow: 2
            }
          },
          {
            breakpoint: 768,
            settings: {
              slidesToShow: 5,
              slidesToScroll: 5,
              centerMode: false,  // Disabilita la modalità centrata
              focusOnSelect: false
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 5,
              slidesToScroll: 5,
              centerMode: false,  // Disabilita la modalità centrata
              focusOnSelect: false
            }
          }
        ]
      });
      // Second slider set
      $('#sliderSyncingNav2').slick({
          infinite: true,
          arrows: true,
          fade: true,
          asNavFor: '#sliderSyncingThumb2',
        });
        $('#sliderSyncingThumb2').slick({
            infinite: false,
            slidesToShow: 8,
            slidesToScroll: 8,
            asNavFor: '#sliderSyncingNav2',
            focusOnSelect: true,
            arrows: false,
            centerMode: false,
            draggable: true,
            swipe: true,
            responsive: [
            {
                breakpoint: 992,
                settings: {
                    slidesToShow: 2
                }
            },
            {
                breakpoint: 768,
                settings: {
                    slidesToShow: 8,
                    slidesToScroll: 8,
                    centerMode: false,  // Disabilita la modalità centrata
                    focusOnSelect: false
                }
            },
            {
                breakpoint: 480,
                settings: {
                    slidesToShow: 8,
                    slidesToScroll: 8,
                    centerMode: false,  // Disabilita la modalità centrata
                    focusOnSelect: false
                }
            }
            ]
        });
    });

  document.addEventListener('DOMContentLoaded', function () {
    let isScrolling = false; // Blocca scroll multipli durante l'animazione

    // Seleziona tutte le sezioni
    const sections = Array.from(document.querySelectorAll('#room-terra, #room-aria'));

    // Funzione per scrollare alla sezione specificata
    function scrollToSection(index) {
        if (index >= 0 && index < sections.length) {
            isScrolling = true; // Blocca ulteriori eventi di scroll
            sections[index].scrollIntoView({ behavior: 'smooth', block: 'start' });

            // Sblocca lo scroll dopo l'animazione
            setTimeout(() => isScrolling = false, 500);
        }
    }

    // Trova la sezione attualmente visibile
    function getCurrentSectionIndex() {
    const viewportHeight = window.innerHeight;
    for (let i = 0; i < sections.length; i++) {
        const rect = sections[i].getBoundingClientRect();
        console.log('Sezione ' + i, rect.top);  // Aggiungi un log per verificare le posizioni
        if (rect.top >= 0 && rect.top < viewportHeight) {
            return i;
        }
    }
    return -1; // Nessuna sezione trovata
}

    // Listener per l'evento `wheel` (rotellina + trackpad)
   document.addEventListener('wheel', function (event) {
    if (isScrolling) return;

    const delta = Math.sign(event.deltaY);  // Calcola la direzione (positivo per scroll giù, negativo per scroll su)

    // Log per verificare il valore di deltaY
    console.log('deltaY:', event.deltaY, 'direzione:', delta);

    if (Math.abs(event.deltaY) < 10) return;

    const currentIndex = getCurrentSectionIndex();
    if (currentIndex === -1) return;

    if (delta > 0 && currentIndex < sections.length - 1) {
        scrollToSection(currentIndex + 1);  // Scorri verso il basso
    } else if (delta < 0 && currentIndex > 0) {
        scrollToSection(currentIndex - 1);  // Scorri verso l'alto
    }
});

    // Pulsanti di navigazione (opzionali)
    document.querySelector('.scroll-to-room-terra').addEventListener('click', function (e) {
        e.preventDefault();
        scrollToSection(0); // Prima sezione
    });

    document.querySelector('.scroll-to-room-aria').addEventListener('click', function (e) {
        e.preventDefault();
        scrollToSection(1); // Seconda sezione
    });
});
</script>

</body>
</html>


