<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dettaglio Camera</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  
  <!-- Slick Carousel CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/> 
  <link rel="stylesheet" href="{{ url_for('static', filename='css/camera1.css') }}">

  <!-- Lightbox CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css">
   <!-- jQuery -->
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

   <!-- Slick Carousel JS -->
   <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
   <!-- Lightbox JS -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
  <!-- Google tag (gtag.js) -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LT0K5MHG56"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LT0K5MHG56');
</script>
</head>
<body>

  <a href="#" class="back-link" onclick="return confirmBack();">←</a>
  <section id="room-terra" class="room-details">
    
    <!-- Carosello principale -->
    <div class="gallery">
      <div 
        id="sliderSyncingNav" class="js-slick-carousel u-slick mb-2"
        data-infinite="true"
        data-arrows-classes="d-none d-lg-inline-block u-slick__arrow-classic u-slick__arrow-centered--y rounded-circle"
        data-arrow-left-classes="fas fa-arrow-left u-slick__arrow-classic-inner u-slick__arrow-classic-inner--left ml-lg-2 ml-xl-4"
        data-arrow-right-classes="fas fa-arrow-right u-slick__arrow-classic-inner u-slick__arrow-classic-inner--right mr-lg-2 mr-xl-4"
        data-nav-for="#sliderSyncingThumb">
        
        <div class="js-slide">
          <div class="img-container">
            <a href="{{ url_for('static', filename='images/appartam1/5EF95467-D836-4317-94B7-0C44D43FAF48_1_105_c.jpeg') }}" data-lightbox="gallery">
              <img class="img-fluid" src="{{ url_for('static', filename='images/appartam1/5EF95467-D836-4317-94B7-0C44D43FAF48_1_105_c.jpeg') }}" alt="Immagine principale 1">
            </a>
          </div>
        </div>
        <div class="js-slide">
          <div class="img-container">
            <a href="{{ url_for('static', filename='images/appartam1/3DED0D41-F67B-4E9C-A896-FE994A767CCA_1_105_c.jpeg') }}g" data-lightbox="gallery">
              <img class="img-fluid" src="{{ url_for('static', filename='images/appartam1/3DED0D41-F67B-4E9C-A896-FE994A767CCA_1_105_c.jpeg') }}" alt="Immagine principale 2">
            </a>
          </div>
        </div>
        <div class="js-slide">
          <div class="img-container">
            <a href="{{ url_for('static', filename='images/appartam1/47646B37-8D8A-4C1B-9319-1065792E854E_1_105_c.jpeg') }}" data-lightbox="gallery">
              <img class="img-fluid" src="{{ url_for('static', filename='images/appartam1/47646B37-8D8A-4C1B-9319-1065792E854E_1_105_c.jpeg') }}" alt="Immagine principale 3">
            </a>
          </div>
        </div>
        <div class="js-slide">
          <div class="img-container">
            <a href="{{ url_for('static', filename='images/appartam1/DB59E97E-04B5-4016-A7C0-EE60FFA985EB_1_105_c.jpeg') }}" data-lightbox="gallery">
              <img class="img-fluid" src="{{ url_for('static', filename='images/appartam1/DB59E97E-04B5-4016-A7C0-EE60FFA985EB_1_105_c.jpeg') }}" alt="Immagine principale 4">
            </a>
          </div>
        </div>
        <div class="js-slide">
          <div class="img-container">
            <a href="{{ url_for('static', filename='images/appartam1/B60E2CA7-E1F9-40CD-80A1-0616CFBADA3E_1_105_c.jpeg') }}" data-lightbox="gallery">
              <img class="img-fluid" src="{{ url_for('static', filename='images/appartam1/B60E2CA7-E1F9-40CD-80A1-0616CFBADA3E_1_105_c.jpeg') }}" alt="Immagine principale 5">
            </a>
          </div>
        </div>
      </div>
    </div>

      <!-- Carosello per le anteprime -->
      <div id="sliderSyncingThumb" class="js-slick-carousel u-slick u-slick--gutters-1 u-slick--transform-off"
        data-infinite="true"
        data-slides-show="5"
        data-is-thumbs="true"
        data-nav-for="#sliderSyncingNav"
        data-responsive='[{
          "breakpoint": 992,
          "settings": {
            "slidesToShow": 2
          }
        }, {
          "breakpoint": 768,
          "settings": {touch .gitignore

            "slidesToShow": 1
          }
        }, {
          "breakpoint": 554,
          "settings": {
            "slidesToShow": 1
          }
        }]'>
        
        <div class="js-slide" style="cursor: pointer;">
          <img class="img-fluid" src="{{ url_for('static', filename='images/appartam1/5EF95467-D836-4317-94B7-0C44D43FAF48_1_105_c.jpeg') }}" alt="Anteprima 1">
        </div>
        <div class="js-slide" style="cursor: pointer;">
          <img class="img-fluid" src="{{ url_for('static', filename='images/appartam1/3DED0D41-F67B-4E9C-A896-FE994A767CCA_1_105_c.jpeg') }}" alt="Anteprima 2">
        </div>
        <div class="js-slide" style="cursor: pointer;">
          <img class="img-fluid" src="{{ url_for('static', filename='images/appartam1/47646B37-8D8A-4C1B-9319-1065792E854E_1_105_c.jpeg') }}" alt="Anteprima 3">
        </div>
        <div class="js-slide" style="cursor: pointer;">
          <img class="img-fluid" src="{{ url_for('static', filename='images/appartam1/DB59E97E-04B5-4016-A7C0-EE60FFA985EB_1_105_c.jpeg') }}" alt="Anteprima 4">
        </div>
        <div class="js-slide" style="cursor: pointer;">
          <img class="img-fluid" src="{{ url_for('static', filename='images/appartam1/B60E2CA7-E1F9-40CD-80A1-0616CFBADA3E_1_105_c.jpeg') }}" alt="Anteprima 5">
        </div>
      </div>
    </div>
  
    <!-- Descrizione Camera Terra -->
    <div class="room-description">
        <div class="room-comforts">
            <h3>Comfort</h3>
            <ul>
                <li>Aria condizionata</li>
                <li>Parcheggio privato</li>
            </ul>
        </div>
    </div>
    
 </section>

  <script>
    $(document).ready(function(){
      $('#sliderSyncingNav').slick({
        infinite: true,
        arrows: true,
        fade: true,
        asNavFor: '#sliderSyncingThumb',
 
      });
      $('#sliderSyncingThumb').slick({
        infinite: false,
        slidesToShow: 5,
        slidesToScroll: 5,
        asNavFor: '#sliderSyncingNav',
        focusOnSelect: true,
        arrows: false,
        centerMode:  false,
        draggable: true, // Disabilita il trascinamento
        swipe: false, 
        responsive: [
          {
            breakpoint: 992,
            settings: {
              slidesToShow: 2
            }
          },
          {
            breakpoint: 768,
            settings: {
              slidesToShow: 1
            }
          },
          {
            breakpoint: 554,
            settings: {
              slidesToShow: 1
            }
          }
        ]
      });
    });
    function confirmBack() {
        {
            window.history.back();       
     }
        return false;
    }
  </script>
</body>
</html>